@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,800;1,700;1,800&family=Roboto:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
height: 80px;
background-color: #004c8b;
padding: 10px 50px;
display: flex;
justify-content: space-between;
align-items: center;

}

.navbar .logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar .logo p {
    width: 100%;
    max-width: 100px;
    min-width: 80px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.9em;
    font-weight: 500;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;

}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul {
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
height: 100%;
}

.menu ul li {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid transparent ;
    transition: 0.3s;  
}

.menu ul li:hover {
    border-bottom: 1px solid #fafafa;

}
.menu ul li a {
    text-decoration:none;
    color: #fafafa
  
    
}

/* *********************************************************** */

.hero__section {
height: calc(100vh - 80px);
background-color: pink;
background-image: url(./img/behind-the-wheel-g2fc7b9351_1280.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center ;
display: flex;
justify-content: center;
align-items: center;
position: relative;

}

.hero__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 190, 219);
    opacity: 0.50;
    mix-blend-mode: darken;

}

.hero__section * {
   z-index: 1 ; 
   position: relative;
}

.hero__section-text h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
   text-transform: uppercase;
   text-align: center;
   font-weight:400;
   color: #fafafa;
   line-height: 1;
}

.hero__section-text h1 span {

    display: block;
    font-weight: 550;

}

.hero__section-more {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35;
}

.hero__section-more p {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #fafafa;
    
}


.about-section {
    padding: 100px 100px;
    background-color: #fafafa;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 250;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.blueTitle {
    color: black;

}

.whiteTitle {
    color: #fafafa;
}

.section-title span {
    font-weight: 700;
    
}

.about-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: black;
    text-align: center;
    line-height: 1.5;
}

.beneficios-section {
    padding: 100px 100px; 
    background-image: url(./img/pexels-jeshootscom-451590.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.beneficios-section::before {
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    opacity: 0.4;
}

.beneficios-section * {
    position: relative;
    z-index: 1;
}

.beneficios__cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 275px));
    gap: 10%;
    justify-content: center;
    margin: 80px 0;
    
}

.beneficios__car-grid {
    cursor: pointer;
    width: 100%;
    background-color: #fafafa;
    border-radius: 30px;
    grid-auto-rows: 200px auto;
    padding: 35px;
    gap: 15px;
    box-shadow: 7px 5px 5px black;
}

.beneficios__card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

.beneficios__card-img img {
    width: 70%;
    height: 100%;
    max-width: 170px;
    max-width: 175%;
}

.beneficios__card-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
}

/* *********************************************************** */

.contact-section {
    background-color: #004c8b;
    padding: 150px;

}

.contact__formContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 50px;
}

.contact__formContainer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__formContainer-img img {
    width: 100%;
    max-width: 470px;
    object-fit: contain;
}

.contact__formContainer-form {
    display: flex;
}

.contact__formContainer-form .form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.contact__formContainer-form .form__item label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fafafa;
    font-weight: 200;
    text-align: center;
    margin: 0 0 15px 0;
}

.contact__formContainer-form .form__item input {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
}

.contact__formContainer-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact__formContainer-form form button {
    width: 40%;
    align-self: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: skyblue;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ;
}

.contact__formContainer-form form button:hover {
 background-color: tomato;
 color: #fafafa;
 font-weight: 600;     

}

footer{
    background-color: #fafafa;
}

footer p{
    margin: 0;
    padding: 12px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

footer .container-footer{
 height: 90px;
 display: flex;
 justify-content: center;
 align-items: center;
}
