
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
height: 80px;
background-color: #004c8b;
padding: 10px 50px;
display: flex;
justify-content: space-between;
align-items: center;

}

.navbar .logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar .logo p {
    width: 100%;
    max-width: 100px;
    min-width: 65px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;

}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul {
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
height: 100%;
}

.menu ul li {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent ;
    transition: 0.3s;  
}

.menu ul li:hover {
    border-bottom: 1px solid #fafafa;

}
.menu ul li a {
    text-decoration:none;
    color: #fafafa
  
    
}

/* *********************************************************** */

.hero__section {
height: calc(100vh - 80px);
background-color: pink;
background-image: url(./img/behind-the-wheel-g2fc7b9351_1280.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center ;
display: flex;
justify-content: center;
align-items: center;
position: relative;

}

.hero__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 190, 219);
    opacity: 0.50;
    mix-blend-mode: luminosity;

}

.hero__section * {
   z-index: 1 ; 
   position: relative;
}

.hero__section-text h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 80px;
   text-transform: uppercase;
   text-align: center;
   font-weight:300;
   color: #fafafa;
   line-height: 1;
}

.hero__section-text h1 span {

    display: block;
    font-weight: 700;

}

.hero__section-more {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35;
}

.hero__section-more p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #fafafa;
    
}
